<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="log" fileName="${sys:df}/logs/server.log" append="false">
            <PatternLayout>
                <pattern>[%d{ISO8601} %-5level] %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.zaxxer.hikari" level="OFF" additivity="false"/>
        <Logger name="io.netty" level="INFO" additivity="false"/>
        <Logger name="org.asynchttpclient" level="OFF" additivity="false"/>
        <Root level="info">
            <AppenderRef ref="log"/>
        </Root>
    </Loggers>
</Configuration>